-- Execute este SQL no Supabase SQL Editor:

-- 1. Primeiro, crie um usuário admin via interface do Supabase Auth
-- 2. Depois, execute este SQL substituindo o USER_ID pelo ID do usuário criado:

update auth.users 
set raw_user_meta_data = jsonb_set(
  raw_user_meta_data::jsonb,
  '{role}',
  '\
admin\'
)
where id = 'USER_ID';

update profiles
set role = 'admin'
where id = 'USER_ID';
